{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DIY Blog</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <header class="bg-[#2f2f2f] h-[75vh]">
      <nav class="text-white flex justify-around items-center p-5">
        <div class="brand">
          <span class="text-yellow-400 font-bold text-3xl">
            DIY <span class="text-white"> Blog </span>
          </span>
        </div>
        <div class="flex gap-10 justify-self-end text-xl">
          <a href="#" class="px-2.5 py-[5px]">About</a>
          <a href="#" class="px-2.5 py-[5px] rounded-[5px] border-white"
            >Login</a
          >
          <a
            href="#"
            class="bg-white text-[#2f2f2f] px-2.5 py-[5px] rounded-[5px]"
            >Signup</a
          >
        </div>
      </nav>
      <div class="absolute gap-[2vh] grid grid-cols-4 h-[70vh] px-[10vw]">
        <div
          class="max-h-[70vh] relative border-[1px] border-white shadow-xl col-span-2 row-span-2"
        >
          <img
            src="{% static 'shop.jpg' %}"
            alt="featured article image"
            class="w-full h-full object-cover"
          />
          <div
            class="absolute top-0 left-0 w-full h-full bg-gradient-to-b from-transparent to-black opacity-80"
          ></div>
          <div class="absolute bottom-0 left-0 p-4 text-white">
            <h2 class="text-3xl font-bold">Article Title</h2>
            <p class="text-sm">JANUARY 01, 2024 | JEAN LIONEL | 5 COMMENTS</p>
          </div>
        </div>
        <div
          class="max-h-[34vh] relative border-[1px] border-white shadow-xl col-span-2"
        >
          <img
            src="{% static 'forest_water_fall.jpg' %}"
            alt="featured article Image"
            class="h-full w-full object-cover"
          />
          <div
            class="absolute top-0 left-0 w-full h-full bg-gradient-to-b from-transparent to-black opacity-80"
          ></div>
          <div class="absolute bottom-0 left-0 p-4 text-white">
            <h2 class="text-3xl font-bold">Article Title</h2>
            <p class="text-sm">JANUARY 01, 2024 | JEAN LIONEL | 5 COMMENTS</p>
          </div>
        </div>
        <div
          class="max-h-[34vh] relative border-[1px] border-white shadow-xl col-span-2"
        >
          <img
            src="{% static 'homedec.jpg' %}"
            alt="featured article Image"
            class="h-full w-full object-cover"
          />
          <div
            class="absolute top-0 left-0 w-full h-full bg-gradient-to-b from-transparent to-black opacity-80"
          ></div>
          <div class="absolute bottom-0 left-0 p-4 text-white">
            <h2 class="text-3xl font-bold">Article Title</h2>
            <p class="text-sm">JANUARY 01, 2024 | JEAN LIONEL | 5 COMMENTS</p>
          </div>
        </div>
      </div>
    </header>
    <main class="mt-14 px-[10vw]">
      <div class="flex flex-row">
        <section class="text-gray-600 body-font overflow-hidden">
          <div
            class="filter flex justify-items-start gap-4 border-b-2 mr-5 mb-8 font-semibold"
          >
            <a
              href="#"
              class="text-black px-4 py-2 border-b-4 border-[#807ED9]"
            >
              ALL
            </a>
            <a href="#" class="text-gray-400 hover:text-black px-4 py-2"
              >LATEST</a
            >
            <a href="#" class="text-gray-400 hover:text-black px-4 py-2"
              >POPULAR</a
            >
          </div>
          <div class="container pr-5 pb-24 mx-auto">
            <div class="-my-4">
              <div class="py-4 flex flex-wrap md:flex-nowrap">
                <div class="md:w-72 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <img
                    class="w-full h-full"
                    src="{% static 'homedec.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="md:flex-grow pl-6 pr-2">
                  <h2
                    class="text-2xl font-semibold text-gray-900 title-font mb-2"
                  >
                    Bitters hashtag waistcoat fashion axe chia unicorn
                  </h2>
                  <p class="text-sm text-gray-900 font-semibold mb-6">
                    JANUARY 01, 2024 | JEAN LIONEL | 5 COMMENTS
                  </p>
                  <p class="leading-relaxed">
                    Glossier echo park pug, church-key sartorial biodiesel
                    vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf
                    moon party messenger bag selfies, poke vaporware kombucha
                    lumbersexual pork belly polaroid hoodie portland craft beer.
                  </p>
                  <a
                    href="#"
                    class="text-indigo-500 font-semibold inline-flex items-center mt-4"
                    >Learn More
                    <svg
                      class="w-4 h-4 ml-2"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M5 12h14"></path>
                      <path d="M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="py-4 flex flex-wrap md:flex-nowrap">
                <div class="md:w-72 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <img
                    class="w-full h-full"
                    src="{% static 'shop.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="md:flex-grow pl-6 pr-2">
                  <h2
                    class="text-2xl font-semibold text-gray-900 title-font mb-2"
                  >
                    Meditation bushwick direct trade taxidermy shaman
                  </h2>
                  <p class="text-sm text-gray-900 font-semibold mb-6">
                    JANUARY 01, 2024 | JEAN LIONEL | 5 COMMENTS
                  </p>
                  <p class="leading-relaxed">
                    Glossier echo park pug, church-key sartorial biodiesel
                    vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf
                    moon party messenger bag selfies, poke vaporware kombucha
                    lumbersexual pork belly polaroid hoodie portland craft beer.
                  </p>
                  <a
                    href="#"
                    class="text-indigo-500 font-semibold inline-flex items-center mt-4"
                    >Learn More
                    <svg
                      class="w-4 h-4 ml-2"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M5 12h14"></path>
                      <path d="M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="py-4 flex flex-wrap md:flex-nowrap">
                <div class="md:w-72 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <img
                    class="w-full h-full"
                    src="{% static 'forest_water_fall.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="md:flex-grow pl-6 pr-2">
                  <h2
                    class="text-2xl font-semibold text-gray-900 title-font mb-2"
                  >
                    Woke master cleanse drinking vinegar salvia
                  </h2>
                  <p class="text-sm text-gray-900 font-semibold mb-6">
                    JANUARY 01, 2024 | JEAN LIONEL | 5 COMMENTS
                  </p>
                  <p class="leading-relaxed">
                    Glossier echo park pug, church-key sartorial biodiesel
                    vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf
                    moon party messenger bag selfies, poke vaporware kombucha
                    lumbersexual pork belly polaroid hoodie portland craft beer.
                  </p>
                  <a
                    href="#"
                    class="text-indigo-500 font-semibold inline-flex items-center mt-4"
                    >Learn More
                    <svg
                      class="w-4 h-4 ml-2"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M5 12h14"></path>
                      <path d="M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <!-- Page switcher -->
            <div class="flex space-x-2 my-4">
              <a
                href="#"
                class="text-black px-4 py-2 border-2 border-black rounded"
                >1</a
              >
              <a
                href="#"
                class="text-gray-300 hover:text-black px-4 py-2 border-2 border-gray-300 hover:border-black rounded"
                >2</a
              >
              <a
                href="#"
                class="text-gray-300 hover:text-black px-4 py-2 border-2 border-gray-300 hover:border-black rounded"
                >3</a
              >
              <a
                href="#"
                class="text-gray-300 hover:text-black px-4 py-2 border-2 border-gray-300 hover:border-black rounded"
                >4</a
              >
              <a
                href="#"
                class="text-gray-300 hover:text-black px-4 py-2 border-2 border-gray-300 hover:border-black rounded"
                >5</a
              >
              <a
                href="#"
                class="text-gray-300 hover:text-black px-4 py-2 border-2 border-gray-300 hover:border-black rounded"
              >
                <svg
                  class="w-6 h-6"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m7 16 4-4-4-4m6 8 4-4-4-4"
                  />
                </svg>
              </a>
            </div>
          </div>
        </section>

        <div class="w-1/2">
          <!-- Subscribe To Our Newsletter -->
          <div class="px-4">
            <h2
              class="text-black flex font-semibold px-4 py-2 mb-8 mt-1 border-b-4 border-[#807ED9] uppercase"
            >
              Subscribe To Our Newsletters
            </h2>
            <p class="text-gray-500 mb-2">
              Home tips, DIY guides, and more, straight to your inbox and on time.
            </p>
            <form class="flex flex-row space-x-2" action="" method="post">
              <input
                type="email"
                placeholder="Enter email address"
                class="bg-white border-2 w-full px-4 py-2 rounded-lg"
              />
              <button
                type="submit"
                class="bg-[#EA4879] font-semibold text-white px-4 py-2 rounded-lg"
              >
                Subscribe
              </button>
            </form>
          </div>
          <div class="flex flex-col mx-4 space-y-2 my-4">
            <button
              class="bg-gray-100 inline-flex py-3 px-5 rounded-lg items-center hover:bg-gray-200 focus:outline-none"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="w-6 h-6"
                viewBox="0 0 512 512"
              >
                <path
                  d="M99.617 8.057a50.191 50.191 0 00-38.815-6.713l230.932 230.933 74.846-74.846L99.617 8.057zM32.139 20.116c-6.441 8.563-10.148 19.077-10.148 30.199v411.358c0 11.123 3.708 21.636 10.148 30.199l235.877-235.877L32.139 20.116zM464.261 212.087l-67.266-37.637-81.544 81.544 81.548 81.548 67.273-37.64c16.117-9.03 25.738-25.442 25.738-43.908s-9.621-34.877-25.749-43.907zM291.733 279.711L60.815 510.629c3.786.891 7.639 1.371 11.492 1.371a50.275 50.275 0 0027.31-8.07l266.965-149.372-74.849-74.847z"
                ></path>
              </svg>
              <span class="ml-4 flex items-start flex-col leading-none">
                <span class="text-xs text-gray-600 mb-1">GET IT ON</span>
                <span class="title-font font-medium">Google Play</span>
              </span>
            </button>
            <button
              class="bg-gray-100 inline-flex py-3 px-5 rounded-lg items-center md:mt-4 mt-0 lg:mt-0 hover:bg-gray-200 focus:outline-none"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="w-6 h-6"
                viewBox="0 0 305 305"
              >
                <path
                  d="M40.74 112.12c-25.79 44.74-9.4 112.65 19.12 153.82C74.09 286.52 88.5 305 108.24 305c.37 0 .74 0 1.13-.02 9.27-.37 15.97-3.23 22.45-5.99 7.27-3.1 14.8-6.3 26.6-6.3 11.22 0 18.39 3.1 25.31 6.1 6.83 2.95 13.87 6 24.26 5.81 22.23-.41 35.88-20.35 47.92-37.94a168.18 168.18 0 0021-43l.09-.28a2.5 2.5 0 00-1.33-3.06l-.18-.08c-3.92-1.6-38.26-16.84-38.62-58.36-.34-33.74 25.76-51.6 31-54.84l.24-.15a2.5 2.5 0 00.7-3.51c-18-26.37-45.62-30.34-56.73-30.82a50.04 50.04 0 00-4.95-.24c-13.06 0-25.56 4.93-35.61 8.9-6.94 2.73-12.93 5.09-17.06 5.09-4.64 0-10.67-2.4-17.65-5.16-9.33-3.7-19.9-7.9-31.1-7.9l-.79.01c-26.03.38-50.62 15.27-64.18 38.86z"
                ></path>
                <path
                  d="M212.1 0c-15.76.64-34.67 10.35-45.97 23.58-9.6 11.13-19 29.68-16.52 48.38a2.5 2.5 0 002.29 2.17c1.06.08 2.15.12 3.23.12 15.41 0 32.04-8.52 43.4-22.25 11.94-14.5 17.99-33.1 16.16-49.77A2.52 2.52 0 00212.1 0z"
                ></path>
              </svg>
              <span class="ml-4 flex items-start flex-col leading-none">
                <span class="text-xs text-gray-600 mb-1">Download on the</span>
                <span class="title-font font-medium">App Store</span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
