{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DIY Blog</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <header class="bg-[#2f2f2f] h-[70vh]">
      <nav class="text-white flex justify-around items-center p-2.5">
        <div class="brand">
          <span class="text-yellow-400 font-bold text-3xl">
            DIY <span class="text-white"> Blog </span>
          </span>
        </div>
        <div class="flex gap-10 justify-self-end text-xl">
          <a href="#" class="px-2.5 py-[5px]">About</a>
          <a
            href="#"
            class="border px-2.5 py-[5px] rounded-[5px] border-solid border-white"
            >Login</a
          >
          <a
            href="#"
            class="bg-white text-[#2f2f2f] px-2.5 py-[5px] rounded-[5px]"
            >Signup</a
          >
        </div>
      </nav>
      <div class="absolute gap-4 grid grid-cols-2 h-[70vh] px-[10vw]">
        <div class="h-[70vh] grid grid-rows-none">
          <div class="relative">
            <img
              src="{% static 'forest_water_fall.jpg' %}"
              alt="featured article image"
              class="w-full h-full object-cover"
            />
            <div
              class="absolute top-0 left-0 w-full h-full bg-gradient-to-b from-transparent to-black opacity-50"
            ></div>
            <div class="absolute bottom-0 left-0 p-4 text-white">
              <h2 class="text-3xl font-bold">Article Title</h2>
              <p class="text-sm">01/01/2022 | Jean Lionel | 5 Comments</p>
            </div>
          </div>
        </div>
        <div class="grid gap-4 grid-rows-2 h-[70vh]">
          <div class="relative overflow-hidden">
            <img
              src="{% static 'forest_water_fall.jpg' %}"
              alt="featured article Image"
              class="h-full w-full object-cover"
            />
            <div
              class="absolute top-0 left-0 w-full h-full bg-gradient-to-b from-transparent to-black opacity-50"
            ></div>
            <div class="absolute bottom-0 left-0 p-4 text-white">
              <h2 class="text-3xl font-bold">Article Title</h2>
              <p class="text-sm">01/01/2022 | Jean Lionel | 5 Comments</p>
            </div>
          </div>
          <div class="relative overflow-hidden">
            <img
              src="{% static 'forest_water_fall.jpg' %}"
              alt="featured article Image"
              class="h-full w-full object-cover"
            />
            <div
              class="absolute top-0 left-0 w-full h-full bg-gradient-to-b from-transparent to-black opacity-50"
            ></div>
            <div class="absolute bottom-0 left-0 p-4 text-white">
              <h2 class="text-3xl font-bold">Article Title</h2>
              <p class="text-sm">01/01/2022 | Jean Lionel | 5 Comments</p>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="filter h-100">
      </div>
      <div class="articles">
      </div>
      <div class="w-1/5">
      </div>
    </main>
  </body>
</html>
